<div layout="row" layout-align="center center" flex="100">
    <div class="md-whiteframe-z2" flex-xs="100" flex="50">
        <md-content class="site-pad-left site-pad-right" flex="" layout="column" layout-padding="">
            <div layout="row" layout-align="center center">
                <md-button class="md-primary md-raised" md-theme="buttons" ng-click="vm.sendFile()">{{ "GO" | translate }}</md-button>
            </div>
            <div layout="row" layout-align="center center" ng-show="vm.complete">{{ "FILE_RESULTS" | translate }}</div>
        </md-content>
    </div>
</div>