doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible" content="IE=edge")
        meta(name="viewport", content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width")
        title
            | Salesforce Code Challenge
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic")
        link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
        // inject:css
        // endinject
    body(ng-app="pdevx", layout="column")
        div(ui-view="appContent", layout="row", flex="")
        // inject:js
        // endinject